/*Body*/

body{
    background-image: url(images/Peabody-03.webp);
    background-size: cover;      /* se adapta y cubre todo */
    background-repeat: no-repeat;/* no se repite */
    margin: 0px;
}

/*Kids*/

.kid-1{
    position: absolute;
}

.kid-2{
    position: absolute;
}


/*grandad*/


.grandpa{
    position: absolute;
    width: 200px;
    top: 360px;
    left: 400px;
}

.grandpa img{
    width: 1000px;
}


/*imagenes*/

.franco{
    position: absolute;
    top: 480px;
    left: 470px;    
}

.franco img{
    width: 260px;
    height: 160px;
    border-radius: 10px;
}
/*Bubbles*/

.text-bubble-1{
    position: absolute;
    top: 450px;
    left: 450px;
}


.text-bubble-1 img{
    width: 300px;
}


.text-bubble-2{
    position: absolute;
    top: 370px;
    left: 1000px;
}

.text-bubble-2 img{
    width: 300px;
    transform: rotateY(180deg);
}

/*nose*/

.container{
    position: absolute;
    top: 420px;
    left: 1050px;
    width: 400px;
}

.container p{
    font-size: 34px;
}

a{
    font-style: none;
    color: inherit;      /* usa el color del texto normal */
    text-decoration: none;
}